<img src="../../../../assets/paymentlogo.jpg" width="100%" height="80px" alt="">
<h1 mat-dialog-title class="dialog-header">Add Money</h1>
<div mat-dialog-content>
  <p>Please enter the required details to add money to your wallet.</p>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label><mat-icon>account_circle</mat-icon> Center Owner Name</mat-label>
    <input matInput placeholder="Enter center owner name" [(ngModel)]="ownername">
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label><mat-icon>phone</mat-icon> Mobile Number</mat-label>
    <input matInput type="tel" placeholder="Enter mobile number" [(ngModel)]="mobileno">
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label><mat-icon>money</mat-icon> Amount</mat-label>
    <input matInput type="number" placeholder="Enter amount" [(ngModel)]="amount">
  </mat-form-field>
  <img *ngIf="qrcode" src="../../../../assets/QR-Codes.png" height="150px" width="100px" alt="">
  <button class="btncusome" (click)="onQrcodeShow()">{{qrcode == true?'Hide QR Code':'Show QR Code'}}</button>
  <div class="upload-section">
    <!-- <label for="upload-file" class="upload-label">
      <mat-icon>upload_file</mat-icon> Upload Payment Screenshot
    </label> -->
    <label for="upload-file" class="upload-label">Upload Payment Screenshot</label>
    <input id="upload-file" type="file" class="upload-input" (change)="onFileUpload($event)">
  </div>
</div>

<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" (click)="onAdd()">Add Money</button>
</div>