.wallet-container {
    max-width: 600px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

mat-card {
    padding: 20px;
}

.amountt{
    display: flex;
    justify-content: space-between;
    
}

.current-balance h2 {
    margin: 0;
    font-size: 1.5em;
    color: #555;
}

.current-balance h1 {
    margin: 0;
    font-size: 2.5em;
    color: #4caf50;
}

.transaction-list {
    padding: 10px;
}

.transaction-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
}

.symbol {
    font-size: 1.5em;
    font-weight: bold;
    width: 30px;
    text-align: center;
}

.symbol.positive {
    color: #4caf50;
}

.symbol.negative {
    color: #f44336;
}

.details {
    flex: 1;
    margin-left: 10px;
}

.title {
    margin: 0;
    font-weight: bold;
}

.subtitle {
    margin: 0;
    font-size: 0.9em;
    color: #888;
}

.amount {
    font-size: 1.2em;
    font-weight: bold;
}

.amount.positive {
    color: #4caf50;
}

.amount.negative {
    color: #f44336;
}


/* for add button start  */

.addMoney {
    background-color: #4caf50;
    color: white;
    font-size: 16px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.addMoney:hover {
    background-color: #388e3c;
    transform: scale(1.05);
}

.addMoney mat-icon {
    font-size: 20px;
}

.rejectbtn {
    margin: 3px;
    background-color: #ae0c0c;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.rejectbtn:hover {
    background-color: #ae0c0c;
    transform: scale(1.05);
}

.rejectbtn mat-icon {
    font-size: 20px;
}


.see-more-button {
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.see-more-button mat-icon {
    margin-right: 8px;
    font-size: 20px;
}

.see-more-button:hover {
    background-color: #1565c0; /* A darker shade for hover */
    transform: scale(1.05);
}

.see-more-button:active {
    transform: scale(0.98);
}





/* for add button end  */