<div class="wallet-container mat-elevation-z4">


    <!-- Transaction History -->
    <mat-card class="transaction-list">
        <div *ngFor="let transaction of transactions" class="transaction-item">
            <!-- Symbol for Credit/Debit -->
            <span class="symbol" [ngClass]="!transaction.std_id ? 'positive' : 'negative'">
                {{ !transaction.std_id ? '+' : '-' }}
            </span>

            <!-- Transaction Details -->
            <div class="details">
                <p class="title">{{ transaction.title || 'No Title' }}</p>
                <p class="subtitle">
                    {{ transaction.transaction_date && transaction.transaction_date !== '0000-00-00 00:00:00'
                    ? (transaction.transaction_date | date: 'MMM d, y, h:mm a')
                    : 'Invalid Date' }}
                </p>

                <p *ngIf="transaction.description" class="subtitle">
                    Description - {{transaction.description}}
                </p>

                <p class="subtitle" style="color: yellowgreen;" *ngIf="transaction.status == 0">
                    Status - Pending
                </p>
                <p class="subtitle" style="color: green;" *ngIf="transaction.status == 1">
                    Status - Sucess
                </p>
                <p class="subtitle" style="color: red;" *ngIf="transaction.status == 2">
                    Status - Rejected
                </p>
            </div>

            <!-- Amount -->

            <p class="amount" [ngClass]="!transaction.std_id ? 'positive' : 'negative'">
                {{ transaction.amount | currency: 'INR' }}
            </p>

        </div>
    </mat-card>

</div>