<div class="wallet-container mat-elevation-z4">

    <mat-card class="current-balance">
        <h2>Wallet History</h2>

        <button class="addMoney" routerLink="/institutehome/walletHistory">
            Back</button>
        <br>
    </mat-card>


    <!-- Transaction History -->
    <mat-card class="transaction-list">
        <div *ngFor="let transaction of transactions" class="transaction-item">
            <!-- Symbol for Credit/Debit -->
            <span *ngIf="transaction.status == 1 || transaction.status == 0 " class="symbol"
                [ngClass]="!transaction.std_id ? 'positive' : 'negative'">
                {{ !transaction.std_id ? '+' : '-' }}
            </span>

            <span *ngIf="transaction.status == 2" class="symbol" style="color: blue;">
                X
            </span>

            <!-- Transaction Details -->
            <div class="details">
                <p class="title">{{ transaction.title || 'No Title' }}</p>
                <p class="subtitle">
                    {{ transaction.transaction_date && transaction.transaction_date !== '0000-00-00 00:00:00'
                    ? (transaction.transaction_date | date: 'MMM d, y, h:mm a')
                    : 'Invalid Date' }}
                </p>

                <p *ngIf="transaction.description" class="subtitle">
                    Description - {{transaction.description}}
                </p>

                <p class="subtitle" style="color: yellowgreen;" *ngIf="transaction.status == 0">
                    Status - Pending
                </p>
                <p class="subtitle" style="color: green;" *ngIf="transaction.status == 1">
                    Status - Sucess
                </p>
                <p class="subtitle" style="color: red;" *ngIf="transaction.status == 2">
                    Status - Rejected
                </p>
            </div>

            <!-- Amount -->

            <p *ngIf="transaction.status == 1 || transaction.status == 0 " class="amount"
                [ngClass]="!transaction.std_id ? 'positive' : 'negative'">
                {{ transaction.amount | currency: 'INR' }}
            </p>

            <p *ngIf="transaction.status == 2" class="amount" style="color: blue;">
                {{ transaction.amount | currency: 'INR' }}
            </p>


        </div>

    </mat-card>


</div>